{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Livres{% endblock %}

{% block body %}
    <h1>Livres</h1>

    <a href="{{ path('app_book_edit') }}"
       class="btn btn-outline-primary mb-3">
        Ajouter un livre
    </a>

    <div class="card bg-light mb-3">
        <div class="card-body">
            {{ form_start(search_form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(search_form.title) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(search_form.author) }}
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">
                        Rechercher
                    </button>
                </div>
            </div>
            {{ form_end(search_form) }}
        </div>
    </div>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Auteurs</th>
            <th width="250px"></th>
        </tr>
{#        {% for book in books %}#}
        {% for book in pager.currentPageResults %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.authors|join('<br>')|raw }}</td>
                <td>

                    <a href="{{ path('app_book_edit', {'id': book.id}) }}"
                       class="btn btn-primary">
                        Modifier
                    </a>
                    <a href="{{ path('app_book_delete', {'id': book.id}) }}"
                       class="btn btn-danger">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">
                    Aucun résultat
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if pager.haveToPaginate  %}
        <div class="d-flex justify-content-center">
            {{ pagerfanta(pager, 'twitter_bootstrap4_translated') }}
        </div>
    {% endif %}
{% endblock %}
