{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} - Création employé{% endblock %}

{% block body %}
    <h1>Création employé</h1>

    {{ form_start(form) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.email) }}
    <div class="alert alert-info">
        Ne remplissez les champs du MDP que si vous voulez le changer.
    </div>
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.role) }}

    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
        <a href="{{ path('app_author_index') }}"
           class="btn btn-outline-secondary">
            Retour
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}
