{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - employés{% endblock %}

{% block body %}
    <h1>Employés</h1>

    <a href="{{ path('app_employee_create') }}"
       class="btn btn-outline-primary mb-3">
        Ajouter un employé
    </a>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Role</th>
            <th width="250px"></th>
        </tr>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.lastname }}</td>
                <td>{{ employee.firstname }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.role }}</td>
                <td>
                    <a href="{{ path('app_employee_edit', {'id': employee.id}) }}"
                       class="btn btn-primary">
                        Modifier
                    </a>
{#                    <a href="{{ path('app_user_delete', {'id': user.id}) }}"#}
{#                       class="btn btn-danger">#}
{#                        Supprimer#}
{#                    </a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">
                    Aucun résultat
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
