{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} - Ajout emprunt{% endblock %}

{% block body %}
    <h1>Nouvel emprunt</h1>

    {{ form_start(form) }}
    {{ form_row(form.book) }}
    {{ form_row(form.user) }}
    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
        <a href="{{ path('app_loan_index') }}"
           class="btn btn-outline-secondary">
            Retour
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}
