    {% extends 'base.html.twig' %}

    {% block title %}{{ parent() }} - Emprunts{% endblock %}

    {% block body %}
        <h1>Emprunts</h1>

        <a href="{{ path('app_loan_add') }}"
           class="btn btn-outline-primary mb-3">
            Ajouter un emprunt
        </a>

        <div class="card bg-light mb-3">
            <div class="card-body">
                {{ form_start(search_form) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(search_form.current) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(search_form.late) }}
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">
                            Rechercher
                        </button>
                    </div>
                </div>
                {{ form_end(search_form) }}
            </div>
        </div>

        <table class="table">
            <tr>
                <th>Id</th>
                <th>Livre</th>
                <th>Utilisateur</th>
                <th>Date emprunt</th>
                <th>Date retour</th>
                <th width="150px"></th>
            </tr>
{#            {% for loan in loans %}#}
            {% for loan in pager.currentPageResults %}
                <tr>
                    <td>{{ loan.id }}</td>
                    <td>{{ loan.book }}</td>
                    <td>{{ loan.user }}</td>
                    <td>{{ loan.startDate|date_fr }}</td>
                    <td>{{ loan.endDate|date_fr|default(loan.late ? 'En retard' : 'En cours') }}</td>
                    <td>
                        {% if not loan.returned %}
                            <a href="{{ path('app_loan_registerreturn', {'id': loan.id}) }}"
                               class="btn btn-primary">
                                Retour
                            </a>
                        {% endif %}

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">
                        Aucun résultat
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% if pager.haveToPaginate  %}
            <div class="d-flex justify-content-center">
                {{ pagerfanta(pager, 'twitter_bootstrap4_translated') }}
            </div>
        {% endif %}
    {% endblock %}
