<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony blog{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('lib/bootstrap/bootstrap.min.css') }}">
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-info">
        <div class="container navbar-nav">
            <a class="navbar-brand" href="{{ path('app_index_index') }}">
                Bibliothèque
            </a>
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ path('app_author_index') }}">
                            Auteurs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ path('app_user_index') }}">
                            Utilisateurs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ path('app_book_index') }}">
                            Livres
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ path('app_loan_index') }}">
                            Emprunts
                        </a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ path('app_employee_index') }}">
                                Employés
                            </a>
                        </li>
                    {% endif %}

                </ul>
                <ul class="navbar-nav">
                    {# app.user : l'utilisateur connecté #}
                    {% if app.user is null %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_index_login') }}">
                                Connexion
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <span class="nav-link">
                                {{ app.user }}
                            </span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_index_logout') }}">
                                Déconnexion
                            </a>
                        </li>
                    {% endif %}
            </div>
        </div>
    </nav>
    <div class="container">
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                {% if type == 'error' %}
                    {% set type = 'danger' %}
                {% endif %}
                <div class="alert alert-{{ type }} mt-2">
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}
            <script
                    src="https://code.jquery.com/jquery-3.4.1.min.js"
                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                    crossorigin="anonymous"></script>
            <script src="{{ asset('lib/bootstrap/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
