{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} - Edition auteur{% endblock %}

{% block body %}
    <h1>Edition auteur</h1>

    {{ form_start(form) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.firstname) }}
    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
        <a href="{{ path('app_author_index') }}"
           class="btn btn-outline-secondary">
            Retour
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}
